@media only screen and (max-width: 980px) {
  .premium-nav {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .premium-list {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
  }
  .icons {
    width: 40%;
    padding-bottom: 30px;
    display: flex;
    margin: 0 auto;
  }
  .icon {
    margin: 30px 10px;
  }
  .premium-plan {
    max-width: 980px;
    display: unset;
    padding: 70px;
  }
  .list-content {
    list-style-type: none;
    padding: 10px;
    width: 40%;
    margin: 60px auto;
    padding-bottom: 50px;
  }
  .btn .button {
    padding: 15px 80px;
  }
}

@media only screen and (max-width: 768px) {
  div {
    padding: 0 20px;
  }
  .premium-nav {
    max-width: 760px;
    padding: 0;
  }
  .premium-list {
    display: unset;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
  .icons {
    width: 90%;
    padding-bottom: 30px;
    display: flex;
    margin: 0 auto;
  }
  .icons p {
    text-align: left;
    line-height: normal;
  }
  .icons strong {
    font-size: 25px;
    line-height: normal;
  }
  .icon {
    margin: 30px 10px;
    max-width: 100px;
    height: 100%;
  }
  .premium-plan {
    max-width: 768px;
    margin: 0 auto;
    display: unset;
    margin: 0 auto;
    padding: 70px;
  }
  .list-content {
    list-style-type: none;
    padding: 10px;
    width: 100%;
    margin: 60px auto;
    padding-bottom: 50px;
  }
  .btn .button {
    padding: 18px;
    display: block;
  }
}
